{% extends 'shared/layout.twig' %}
{% block title %}StackImages{% endblock %}
{% block content %}
<script>
    if (localStorage.getItem('key') == undefined) {
        window.location.href = "{{url}}/account/login";
    } else {
        let currentDate = new Date().getTime(); //getTime imi returneaza timpul in ms si de aceea inmultesc cu 1000; getTime ul este bazat pe timpul calculatorului
        let storageTime = localStorage.getItem('auth_date');
        if(currentDate - storageTime > localStorage.getItem('expire') * 1000){
            localStorage.clear();
            window.location.href = "{{url}}/account/login";
        }
    }
</script>

    <div class="container margin-top-100">
        <div class="row align-items-center">
            <div class="col-12 mx-auto">
                <div class="jumbotron center-section-container shadow p-3">

                    <h2>The Basics</h2>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Name" class="form-control custom-input"
                                id="nameInput" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" placeholder="Email" class="form-control custom-input"
                                id="emailInput" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Phone" class="form-control custom-input"
                                id="phoneInput" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Address" class="form-control custom-input"
                                id="adressInput" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Country" class="form-control custom-input"
                                id="countryInput" aria-describedby="emailHelp">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 100px;">
        <div class="row justify-content-md-center">
            <div class="col-md-4 text-center">
                <button onclick="editBasicInfo()" class="btn btn-primary">Save</button>
                <a href="{{url}}/builder/view/{{id}}" class="btn btn-primary">Back to Viewer</a>
            </div>
        </div>
    </div>
{% endblock %}